[submodule "_gallery"]
	path = _gallery
	url = https://github.com/asd-xc/_gallery
[submodule "_quotes"]
	path = _quotes
	url = https://github.com/asd-xc/_quotes
[submodule "images"]
	path = images
	url = https://github.com/asd-xc/images
[submodule "_bibliography"]
	path = _bibliography
	url = https://github.com/asd-xc/bibliography
[submodule "_notes"]
	path = _notes
	url = https://github.com/asd-xc/notes
[submodule "_includes/extras"]
	path = _includes/extras
	url = https://github.com/asd-xc/extras
[submodule "_includes/text"]
	path = _includes/text
	url = https://github.com/asd-xc/text
